@model IEnumerable<ComicSystem.Models.Customer>

<h1>Customers</h1>
<a class="btn btn-primary mb-3" href="/Customers/Register">Register New Customer</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Register Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Fullname</td>
            <td>@customer.Phone</td>
            <td>@customer.RegisterDate.ToString("yyyy-MM-dd")</td>
        </tr>
    }
    </tbody>
</table>