@model ComicSystem.Models.Customer

<h1>Register New Customer</h1>
<form method="post">
    <div class="form-group">
        <label for="Fullname">Full Name</label>
        <input type="text" class="form-control" id="Fullname" name="Fullname" required />
    </div>
    <div class="form-group">
        <label for="Phone">Phone</label>
        <input type="text" class="form-control" id="Phone" name="Phone" required />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>